html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    /*position: relative;*/
    overflow-x: hidden;
    font-family:  'lato',sans-serif;
    color: #505962;
    background: black;

}

.navbar{
    background:rgba(0,0,0,1);
    height:9vh;

}
.navbar-brand img{
    height: 2rem;
    margin-bottom: 10px ;
    margin-left: 25%;

}

.video-background{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color:rgba(0,0,0,0.2);
}

.nav-item{
    border:1px solid white;
    margin-right: 20px;
}

/*left*/

.left-panel{
    position: absolute;
    top:9%;
    width: 50%;
    height:81vh;
    padding:100px;
    left: 0;
    color: white;
    /*border: 1px solid white;*/
}
.flight-form{
    background: rgba(4, 4, 4, 0.56);
    -webkit-box-shadow: 0px 35px 44px -22px rgba(0,0,0,0.72);
    -moz-box-shadow: 0px 35px 44px -22px rgba(0,0,0,0.72);
    /*box-shadow: 0px 35px 44px -22px #1f181b;*/
    width: 70%;
    margin-left:15%;
    margin-top: 10%;
    padding-top: 3%;
    height: 460px;
    border-radius: 50px;
    box-shadow: 0 0 8px #cccccc, inset 0 0 8px #cccccc;
    -webkit-animation: pulse 2s linear 1s infinite;
}
@-webkit-keyframes pulse {
    0% { box-shadow:0 0 8px #cccccc, inset 0 0 8px #cccccc; }
    25% { box-shadow:0 0 10px #e5e5e5, inset 0 0 10px #e5e5e5; }
    50% { box-shadow:0 0 12px #ffffff, inset 0 0 12px #ffffff; }
    75% { box-shadow:0 0 10px #e5e5e5, inset 0 0 10px #e5e5e5; }
    100% { box-shadow:0 0 8px #cccccc, inset 0 0 8px #cccccc; }
}
.flight-form h2{
    margin-bottom: 3%;
}
.internal-flight-form{
    width: 100%;
    /*border:1px solid white;*/
    margin:0;
    padding:0;
    height:100%;
}
.title{
    width: 40%;
    /*border:1px solid white;*/
    margin:0;
    padding:0;
}

.internal-flight-form input,.internal-flight-form select{
    border:none;
    border-radius:5px;
    outline: none;
    width: 50%;
    height:100%;
    margin:0;
    margin-top: 1%;
    margin-right: 10%;
    padding:0;


    vertical-align: middle;
    text-align-last: center;
    text-align: center;
    -ms-text-align-last: center;
    -moz-text-align-last: center;
}
/*.internal-flight-form option{
    text-align: center;
    vertical-align: middle;

}*/
.numberbox{
    /*width: 50%;*/
    /*left: 100px;*/
    border:none;
    border-radius:5px;
    outline: none;
    width: 50%;
    height:100%;

    margin:0;
    margin-right: 10%;
    padding:0;
    vertical-align: middle;
    text-align-last: center;
    text-align: center;
    -ms-text-align-last: center;
    -moz-text-align-last: center;

}
.ui-datepicker { 
    margin-left: 16%;
    z-index: 1000;
}

.inputWithPlane {
    position: relative;
}

.inputWithPlane i {
    position: absolute;
    right:11% ;
    top: 20%;
    float: right;
    color: #aaa;
    /*color: white;*/
    transition: 0.3s;
    vertical-align: middle;
    font-size: 30px;

}
.inputWithCalendar {
    position: relative;
}

.inputWithCalendar i {
    position: absolute;
    right:11% ;
    top: 19%;
    float: right;
    color: #aaa;
    transition: 0.3s;
    vertical-align: middle;
    font-size: 30px;

}

/*.adultTitle{
        margin-right: 6.25%;
        margin-left: 6.25%;
        width: 40%;
    width: 40%;
    border:1px solid white;
    margin:0;
    padding:0;
}*/
.adult div{
    /*border:1px solid white;*/

}
.adult input{
    border:none;
    outline: none;
    padding:5px;
    width:58%;
    height: 100%;
    border-radius: 5px;
    margin: 0 5px!important;
    box-shadow: 0 2px 5px rgba(0,0,0,.5);

}
.adult input:hover,.adult button:hover{
    background:#cccccc;
    colour:#fff;
}
.adult button {
    border:none;
    outline: none;
    padding: 0 10px;
    border-radius: 5px;
    width: 15%;


}
.nice-number {
    display: inline-flex;
    justify-content: stretch;
    width: 100%;
    margin-top: 1%;

}

.nice-number input {
    vertical-align: middle;
    text-align: center;
    -moz-appearance: textfield;
    box-sizing: content-box;
    margin: 0;

}


.nice-number input::-webkit-inner-spin-button,
.nice-number input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/*end left*/ 
.right{
    position: absolute;
    top:9%;
    width: 50%;
    height:81vh;
    padding:100px;
    right: 0;
    color: white;
    /*border: 1px solid white;*/
}
.bottom{
    position: absolute;
    bottom: 0%;
    width: 100%;
    height:10vh;
    padding:100px;
    right: 0;
    color: white;
}

.caption h1{
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: .2rem;
    text-shadow :.1rem .1rem .8rem black;
    padding-bottom: 1rem;
}
.caption h3{
    font-size: 2rem;
    text-shadow: .1rem .1rem .5rem black;
    padding-bottom: 1.6rem;  
}
.btn-lg{
    border-width: medium;
    border-radius: 0;
    font-size: 1.1rem;
    padding: 0.6rem 1.3rem;
}



/*============= COURSE SECTION =============*/

.col-md-8 {
    margin: 2rem auto 8rem;
    padding-top: 2rem;
}
.col-md-8 h1 {
    font-size: 2.4rem;
}
/*.btn-secondary {
    border-width: medium;
    border-radius: 0;
    padding: .6rem 1.2rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin: 1rem;
    border-color: #1EBBA3;
    background-color: #1EBBA3;
    color: white;
}
.btn-secondary:hover,
.btn-secondary:focus {
    border-color: #189582;
    background-color: #189582;
    color: white;
}*/
@media ( max-width: 768px){

    .caption h1{
        font-size: 1.4rem;
        letter-spacing: .15rem;
        padding-bottom: 0.5rem;
    }
    .caption h3{
        font-size: 1.1rem;
        padding-bottom: 1.2rem;  
    }
    .btn-lg{
        font-size: 1rem;
        padding: 0.5rem 1rem;
    }
    .col-md-8{
        font-size: 2.4rem;
    }
}
#section1,#section2,#section3{
    height: 100vh;
    width: 100%;

}
/*
.fa-redo:hover,.fa-redo:focus{
    
   
    border:none;
    outline: none;
}*/

.fa-redo{
    width: 7%;
    margin-left: 5%;
    border:none;
    border-radius: 5px;
    outline: none;
}





/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
/*--- Bootstrap Mobile Gutter Fix --*/
.row, .container-fluid {
    margin-left: 0px!important;
    margin-right: 0px!important;
}

/*--- Fixed Video Background iOS/Mobile Style--*/
.video-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#video {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
    z-index: -1000;
}
video{ 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url('') no-repeat;
    background-size: cover;
    transition: 1s opacity;
}
/*end fixed*/
::-webkit-scrollbar {
    display: none;
}
/*start botom arrow*/
.box {
    margin-left:50%;
    width:20px;
    height:20px;

}
.box span{
    display: block;
    width:100%;
    height:100%;
    border-bottom: 2px solid #fff;
    border-right:2px solid #fff;
    transform: rotate(45deg);
    margin:-10px;
    animation:dropArrow 2s infinite;

}
.box span:nth-child(2){
    animation-delay: -0.2s;

}
.box span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes dropArrow {
    0%{
        opacity:0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity:1;
    }
    100%{
        opacity:0;       
        transform: rotate(45deg) translate(20px,20px);
    }
}


/*end  botom arrow*/ 
